/build_*/
/build/
/build-darwin-*
.DS_Store
__pycache__/
*.py[cod]
foo/
tests/cmake_test_discovery_*.json
spack/environments/**/.spack-env/
spack/environments/**/.spack-view/
spack/environments/**/spack.lock
spack/compat/**/build-*
